body{
    background-color: hsl(216, 12%, 8%);
    margin: 0;
    box-sizing: border-box;
    font-family:'Overpass', sans-serif;
}
h1{
    color:  hsl(0, 0%, 100%);
    padding-left: 1em;
    font-weight :700;
}
p{
    color: hsl(217, 12%, 63%);
    padding-left: 2em;
    padding-right: 2em;
    line-height: 1.5;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 3rem;
}
.container{
    background-color:hsl(213, 19%, 18%); 
    height: 50vh;
    width: 25vw;
    margin: 25vh auto 0;
    padding: 0.5em;
    border-radius: 2em;
}
.img{
    background-color: hsl(213, 20%, 22%);
    padding: 1em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    border-radius: 50%;
}
.container btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-right: 2rem;
    list-style-type: none;
  }
  .container button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 20%, 22%);
    padding-top: 0.2rem;
    color: hsl(0, 0%, 100%);
    transition: 0.3s;
    cursor:pointer
  }
  .container button:hover {
    background-color: hsl(25, 97%, 53%);
  }
  .container button:focus {
    background-color: hsl(216, 12%, 54%);
  }
  
  .btn-submit {
    background-color: hsl(25, 97%, 53%);
    width: 80%;
    padding: 0.8rem 0 0.6rem;
    border: none;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0 2.7rem;
  }
  
  .btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
  }
  
.thank-you {
  background-color:hsl(213, 19%, 18%); 
  height: 50vh;
  width: 25vw;
  margin: 25vh auto 0;
  padding: 0.5em;
  border-radius: 2em;
    
  }
  
  .thank-you img {
    display: block;
    margin: 2rem auto 2rem;
  }
  
  .thank-you p.review {
    background-color: hsl(213, 20%, 22%);
    color: hsl(25, 97%, 53%);
    border-radius: 30px;
    padding: 0.2rem 1rem 0;
    display: inline;
    margin-bottom: 2rem;
    margin-left: 8rem;
    left: 20rem;
  }
  
  .thank-you h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
    text-align: center;
  }
  .thank-you p{
    text-align: center;
    line-height: 1.5;
  }
  
  .hidden {
    display: none;
  }

@media only screen and (max-width: 400px) {
    .container{
        height: 90vh;
        width: 80vw;
        margin: 5vh auto 0;
        padding: 0.5em;
        border-radius: 2em;
    }
}
